[Desktop Entry]
TryExec=gnome-terminal
Name=HERO Dashboard
Icon=/usr/share/pixmaps/cucr/hsr.png
Name[en_US]=HERO Dashboard
Icon[en_US]=/usr/share/pixmaps/cucr/hsr.png
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.4.1.1
Categories=GNOME;GTK;Utility;TerminalEmulator;
OnlyShowIn=GNOME;Unity;
Keywords=Run;
Actions=New
X-Ubuntu-Gettext-Domain=gnome-terminal
Terminal=false
Exec=bash -c "shopt -s expand_aliases && source ~/.cucr/setup.bash && hero-dashboard"
StartupWMClass=hero-dashboard

