[Desktop Entry]
Type=Application
Exec=bash -c "shopt -s expand_aliases && source ~/.cucr/setup.bash; cp -f $IROHMS_SYSTEM_DIR/src/hero_bringup/parameters/tools/rviz_config.rviz /tmp/rviz_config.rviz; hero-rviz; cp -f /tmp/rviz_config.rviz $IROHMS_SYSTEM_DIR/src/hero_bringup/parameters/tools/rviz_config.rviz"
Name=HERO-rviz
GenericName=Open rviz with hero config
X-KDE-StartupNotify=true
Icon=/usr/share/pixmaps/cucr/rviz.png
StartupWMClass=rviz
Terminal=false
Categories=rviz;hero;
