name: Linting

on: [push, pull_request]

jobs:
  yamllint:
    name: YamlLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          ssh-key: ${{ secrets.SSH_DEPLOY_KEY }}
      - name: Setup Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install YamlLint
        run: pip install --upgrade yamllint
      - name: YamlLint
        run: bash -c 'find ./ -iname '*.yaml' -or -iname '*.yml' | xargs yamllint'
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          ssh-key: ${{ secrets.SSH_DEPLOY_KEY }}
      - name: ShellCheck
        run: bash -c 'shopt -s globstar; shellcheck ./**/*.bash ./**/*.sh ./**/setup'
  bash_set_error:
    name: Set -e/+e Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          ssh-key: ${{ secrets.SSH_DEPLOY_KEY }}
      - name: Check set -e/+e
        run: ./.check_set-e.bash
