[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Professional Edition
Icon=/snap/pycharm-professional/current/bin/pycharm.png
Exec=bash -c "source ~/.tue/setup.bash && pycharm-professional %F"
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
